/k6
/k6.exe
/dist
/pkg-build

.vscode
*.sublime-workspace
*.log
*.syso
.idea

*.DS_Store

/versioninfo.json

/vendor/**/.editorconfig
/vendor/**/*.jpg
/vendor/**/*.json
/vendor/**/.*.json
/vendor/**/Makefile
/vendor/**/*.png
/vendor/**/*.tmpl
/vendor/**/*.txt
!/vendor/modules.txt
/vendor/**/*.y*ml
/vendor/**/.*.y*ml
/vendor/github.com/dlclark/regexp2/testoutput1