<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Speedboat{{/link-to}}
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <form class="navbar-form navbar-right">
      {{#if running}}
        <button class="btn btn-danger" {{action 'pause'}}>Pause</button>
      {{/if}}
      {{#unless running}}
        <button class="btn btn-success" {{action 'resume'}}>Resume</button>
      {{/unless}}
      </form>
    </div>
  </div>
</nav>

<div class="container">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}

  {{outlet}}
</div>
