<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'index' class="navbar-brand"}}Speedboat{{/link-to}}
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <form class="navbar-form navbar-right">
        <button class="btn btn-danger">Abort</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
