<div class="row">
  <div class="col-md-6 col-md-push-6">
    <h4>Active VUs <small><a href="#">click to scale</a></small></h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" arial-valuenow="400" aria-valuemin="0" aria-valuemax="500" style="width: 80%;">400/500</div>
    </div>

    <ul class="list-group">
      <li class="list-group-item metrics">
        <span class="name">errors</span>
        <span class="results pull-right">
          <span class="key">count=</span><span class="value">500</span>
        </span>
      </li>
    </ul>
  </div>
  <div class="col-md-6 col-md-pull-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Group 1
          <span class="pull-right results"><span class="key">count=</span><span class="value">550</span></span>
        </h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="name">Test 1</span>
          <span class="results pull-right">
            <span class="key">pass=</span><span class="value text-success">500</span>
            <span class="key">fail=</span><span class="value text-danger">50</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
