<span class="name">{{check.name}}</span>
<span class="results pull-right">
  <span class="key">pass=</span><span class="value text-success">{{check.passes}}</span>
  <span class="key">fail=</span><span class="value text-danger">{{check.fails}}</span>
</span>
