<div class="panel panel-default">
  {{#if group.name}}
  <div class="panel-heading">
    <h3 class="panel-title">{{group.name}}</h3>
  </div>
  {{/if}}

  {{sb-check-list checks=group.checksSorted}}
</div>

<div class="{{if group.name 'nesting'}}">
{{#each group.groups as |g|}}
  {{sb-group group=g}}
{{/each}}
</div>
