<span class="name">{{test.name}}</span>
<span class="results pull-right">
  <span class="key">pass=</span><span class="value text-success">{{test.passes}}</span>
  <span class="key">fail=</span><span class="value text-danger">{{test.fails}}</span>
</span>
