name: ARM tests
on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: [self-hosted, Linux, ARM64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18.x
      - name: Run tests
        run: |
          set -x
          go version
          go env
          export GOMAXPROCS=2
          export CGO_ENABLED=1
          go test -p 2 -race -timeout 800s -count 1 ./...
