name: Build
on:
  workflow_dispatch:
    inputs:
      k6_version:
        description: 'The version of the release, it must use the semantic versioning format with the v prefix. It is a development release so it is suggested to append a build metadata (e.g. v0.38.0-dev).'
        required: true
      go_version:
        description: 'Go version for building binaries'
        default: '1.x'
        required: true
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:

defaults:
  run:
    shell: bash

permissions:
  contents: read

env:
  APP_NAME: "k6"
  DOCKER_IMAGE_ID: "grafana/k6"
  GHCR_IMAGE_ID: ${{ github.repository }}
  DEFAULT_GO_VERSION: "1.25.x"

jobs:
  publish-packages:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      packages: write
      id-token: write # Required for Vault
    steps:
      - name: Download and rename binaries
        # To be consistent with the filenames used in dl.k6.io
        run: |
          mkdir dist
          curl -Lso "dist/k6-v1.4.0-amd64.msi" "https://github.com/grafana/k6/releases/download/v1.4.0/k6-v1.4.0-windows-amd64.msi"
          curl -Lso "dist/k6-v1.4.0-amd64.rpm" "https://github.com/grafana/k6/releases/download/v1.4.0/k6-v1.4.0-linux-amd64.rpm"
          curl -Lso "dist/k6-v1.4.0-amd64.deb" "https://github.com/grafana/k6/releases/download/v1.4.0/k6-v1.4.0-linux-amd64.deb"
      - uses: grafana/shared-workflows/actions/get-vault-secrets@a37de51f3d713a30a9e4b21bcdfbd38170020593 # get-vault-secrets/v1.3.0
        with:
          repo_secrets: |
            IAM_ROLE_ARN=deploy:packager-iam-role
            AWS_CF_DISTRIBUTION=cloudfront:AWS_CF_DISTRIBUTION
            PGP_SIGN_KEY_PASSPHRASE=pgp:PGP_SIGN_KEY_PASSPHRASE
            PGP_SIGN_KEY=pgp:PGP_SIGN_KEY
            S3_BUCKET=s3:AWS_S3_BUCKET
      - uses: grafana/shared-workflows/actions/aws-auth@85022085ed5314601c05d10e846de56bdd71e369 # aws-auth/v1.0.3
        with:
          aws-region: "us-east-2"
          role-arn: ${{ env.IAM_ROLE_ARN }}
          set-creds-in-environment: true
      - name: Setup docker compose environment
        run: |
          cat > packaging/.env <<EOF
          AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
          AWS_CF_DISTRIBUTION="${AWS_CF_DISTRIBUTION}"
          AWS_DEFAULT_REGION=us-east-2
          AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
          AWS_SESSION_TOKEN=${AWS_SESSION_TOKEN}
          PGP_SIGN_KEY_PASSPHRASE=${PGP_SIGN_KEY_PASSPHRASE}
          S3_BUCKET=${S3_BUCKET}
          EOF
          echo "${PGP_SIGN_KEY}" > packaging/sign-key.gpg
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ env.GITHUB_ACTOR }}
          password: ${{ env.GITHUB_TOKEN }}
      - name: Publish packages
        run: |
          cd packaging
          docker compose pull packager
          docker compose run --rm packager
