name: Lint
on:
  # Enable manually triggering this workflow via the API or web UI
  workflow_dispatch:
  pull_request:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  deps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: 1.25.x
          check-latest: true
      - name: Check dependencies
        run: |
            go version
            test -z "$(go mod tidy && go mod vendor && git status --porcelain)"
            go mod verify
      - name: Check code generation
        run: |
          make generate
          test -z "$(git status --porcelain | tee >(cat 1>&2))"

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Run linters
        uses: ./.github/actions/lint/
