name: Lint
on:
  # Enable manually triggering this workflow via the API or web UI
  workflow_dispatch:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  deps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x
          check-latest: true
      - name: Check dependencies
        run: |
            go version
            test -z "$(go mod tidy && go mod vendor && git status --porcelain)"
            go mod verify
      - name: Check code generation
        run: |
          go install github.com/alvaroloes/enumer@v1.1.2
          go install github.com/mailru/easyjson/easyjson@v0.7.7
          test -z "$(go generate ./... && git status --porcelain)"

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run linters
        uses: ./.github/actions/lint/
