name: k6packager
on:
  # Enable manually triggering this workflow via the API or web UI
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # weekly (Sundays at 00:00)

defaults:
  run:
    shell: bash

jobs:
  publish-packager:
    runs-on: ubuntu-latest
    env:
      VERSION: 0.0.4
      DOCKER_IMAGE_ID: ghcr.io/grafana/k6packager
      GITHUB_ACTOR: ${{ github.actor }}
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false
      - name: Build
        run: |
          cd packaging
          docker compose build packager
      - name: Publish
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login https://ghcr.io -u ${GITHUB_ACTOR} --password-stdin
          docker push "${DOCKER_IMAGE_ID}:latest"
          docker tag "${DOCKER_IMAGE_ID}" "${DOCKER_IMAGE_ID}:${VERSION}"
          docker push "${DOCKER_IMAGE_ID}:${VERSION}"
