name: k6packager
on:
  # Enable manually triggering this workflow via the API or web UI
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # weekly (Sundays at 00:00)

defaults:
  run:
    shell: bash

jobs:
  publish-packager:
    runs-on: ubuntu-latest
    env:
      VERSION: 0.0.4
      DOCKER_IMAGE_ID: ghcr.io/grafana/k6packager
      GITHUB_ACTOR: ${{ github.actor }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: read
      id-token: write
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: Build
        run: |
          cd packaging
          docker compose build packager
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ env.GITHUB_ACTOR }}
          password: ${{ env.GITHUB_TOKEN }}
      - name: Publish
        run: |
          docker push "${DOCKER_IMAGE_ID}:latest"
          docker tag "${DOCKER_IMAGE_ID}" "${DOCKER_IMAGE_ID}:${VERSION}"
          docker push "${DOCKER_IMAGE_ID}:${VERSION}"
