name: TC39
on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
      paths:
          - 'js/**'
          - 'vendor/github.com/grafana/sobek/**'

defaults:
  run:
    shell: bash

permissions:
  contents: read


jobs:
  tc39:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: 1.25.x
          check-latest: true
      - name: Run tests
        run: |
          set -x
          cd internal/js/tc39
          sh checkout.sh
          go test -timeout 1h
