name: TC39
on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
      paths:
          - 'js/**'
          - 'vendor/github.com/dop251/goja/**'

defaults:
  run:
    shell: bash

jobs:
  tc39:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.22.x
          check-latest: true
      - name: Run tests
        run: |
          set -x
          cd js/tc39
          sh checkout.sh
          go test -timeout 1h
