name: Browser tests
on:
  push:
    branches:
      - master
  pull_request:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  test-prev:
    if: ${{ github.ref == 'refs/heads/master' }}
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.24.x]
        platform:
          [ubuntu-22.04, ubuntu-arm64-large, github-hosted-windows-x64-large]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Run common test steps
        uses: ./.github/actions/test-common
        with:
          go_version: ${{ matrix.go-version }}
          platform: ${{ matrix.platform }}
      - name: Get the k6 version
        id: get_k6_version
        run: |
          echo "Running tests on '${GITHUB_REF}' with '$(git describe --tags --always --long --dirty)' checked out..."
      - name: Run tests
        uses: ./.github/actions/test-browser

  test-tip:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: ubuntu-22.04
            gotip_platform: ubuntu-22.04
          - platform: ubuntu-arm64-large
            gotip_platform: ubuntu-24.04-arm
          - platform: github-hosted-windows-x64-large
            gotip_platform: windows-latest
    runs-on: ${{ matrix.platform }}
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: Run common test steps
        uses: ./.github/actions/test-common
        with:
          go_version: "gotip"
          platform: ${{ matrix.gotip_platform }}
      - name: Run tests
        uses: ./.github/actions/test-browser
        with:
          use_gotip: "true"

  test-latest:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.25.x]
        platform:
          [ubuntu-22.04, ubuntu-arm64-large, github-hosted-windows-x64-large]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: Run common test steps
        uses: ./.github/actions/test-common
        with:
          go_version: ${{ matrix.go-version }}
          platform: ${{ matrix.platform }}
      - name: Run tests
        uses: ./.github/actions/test-browser
