name: Test
on:
  push:
    branches:
      - master
  pull_request:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  test-prev:
    if: ${{ github.ref == 'refs/heads/master' }}
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.24.x]
        platform: [ubuntu-22.04, ubuntu-24.04-arm, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Run common test steps
        uses: ./.github/actions/test-common
        with:
          go_version: ${{ matrix.go-version }}
          platform: ${{ matrix.platform }}
      - name: Get the k6 version
        id: get_k6_version
        run: |
          echo "Running tests on '${GITHUB_REF}' with '$(git describe --tags --always --long --dirty)' checked out..."
      - name: Run tests
        uses: ./.github/actions/test
        with:
          platform: ${{ matrix.platform }}

  test-tip:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-22.04, ubuntu-24.04-arm, windows-latest]
    runs-on: ${{ matrix.platform }}
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Run common test steps
        uses: ./.github/actions/test-common
        with:
          go_version: "gotip"
          platform: ${{ matrix.platform }}
      - name: Run tests
        uses: ./.github/actions/test
        with:
          use_gotip: "true"
          platform: ${{ matrix.platform }}
  
  test-latest:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.25.x]
        platform: [ubuntu-22.04, ubuntu-24.04-arm, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Run common test steps
        uses: ./.github/actions/test-common
        with:
          go_version: ${{ matrix.go-version }}
          platform: ${{ matrix.platform }}
      - name: Run tests
        uses: ./.github/actions/test
        with:
          platform: ${{ matrix.platform }}