name: Test
on:
  push:
    branches:
      - master
  pull_request:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  test-prev:
    if: ${{ github.ref == 'refs/heads/master' }}
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.24.x]
        platform: [ubuntu-22.04, ubuntu-arm64-large, github-hosted-windows-x64-large]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Get the k6 version
        id: get_k6_version
        run: |
          echo "Running tests on '${GITHUB_REF}' with '$(git describe --tags --always --long --dirty)' checked out..."
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
      - name: Install chromium
        # This is only needed on arm images, chromium comes preinstalled on amd64 runner images.
        if: contains(matrix.platform, 'arm')
        run: |
          sudo apt update && sudo apt install chromium-browser
          chromium --version
      - name: Run tests
        run: |
          set -x
          go version
          export GOMAXPROCS=1
          go test -p 1 -timeout 800s ./...

  test-tip:
    strategy:
      fail-fast: false
      matrix:
        include:
        - platform: ubuntu-22.04
          gotip_tag: ubuntu-22.04
        - platform: ubuntu-arm64-large
          gotip_tag: ubuntu-24.04-arm
        - platform: github-hosted-windows-x64-large
          gotip_tag: windows-latest
    runs-on: ${{ matrix.platform }}
    continue-on-error: true
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Download Go tip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release download ${{ matrix.gotip_tag }} --repo grafana/gotip --pattern 'go.zip'
      - name: Install Go tip
        run: |
          unzip go.zip -d $HOME/sdk
          echo "GOROOT=$HOME/sdk/gotip" >> "$GITHUB_ENV"
          echo "GOPATH=$HOME/go" >> "$GITHUB_ENV"
          echo "$HOME/go/bin" >> "$GITHUB_PATH"
          echo "$HOME/sdk/gotip/bin" >> "$GITHUB_PATH"
      - name: Install chromium
        # This is only needed on arm images, chromium comes preinstalled on amd64 runner images.
        if: contains(matrix.platform, 'arm')
        run: |
          sudo apt update && sudo apt install chromium-browser
          chromium --version
      - name: Run tests
        run: |
          set -x
          go version
          export GOMAXPROCS=1
          go test -p 1 -timeout 800s ./...

  test-latest:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.25.x]
        platform: [ubuntu-22.04, ubuntu-arm64-large, github-hosted-windows-x64-large]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
      - name: Install chromium
        # This is only needed on arm images, chromium comes preinstalled on amd64 runner images.
        if: contains(matrix.platform, 'arm')
        run: |
          sudo apt update && sudo apt install chromium-browser
          chromium --version
      - name: Run tests
        run: |
          set -x
          go version
          export GOMAXPROCS=1
          go test -p 1 -timeout 800s ./...
