name: trivy scan

on:
  # Enable manually triggering this workflow via the API or web UI
  workflow_dispatch:
  schedule:
    # At 10:00 UTC on every day-of-week from Monday through Friday.
    - cron:  '0 10 * * 1-5'

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
    name: Build
    runs-on: ubuntu-latest
    if: github.repository == 'grafana/k6' # avoid running on forks
    steps:
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          image-ref: 'grafana/k6:master'
          format: 'sarif'
          output: 'trivy-results.sarif'
          severity: 'CRITICAL,HIGH,MEDIUM'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@3c3833e0f8c1c83d449a7478aa59c036a9165498 # v2.21.1
        with:
          sarif_file: 'trivy-results.sarif'
