name: Web Platform Tests
on:
  workflow_dispatch:
  pull_request:

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: 1.25.x
          check-latest: true
      # TODO: combine WebPlatform tests checkout & patch into the single step
      - name: Run Streams Tests
        run: |
          set -x
          cd internal/js/modules/k6/experimental/streams/tests
          sh checkout.sh
          go test -race ../...
      - name: Run Webcrypto Tests
        run: |
          set -x
          cd internal/js/modules/k6/webcrypto/tests
          sh checkout.sh
          go test -race ./...
