name: Web Platform Tests
on:
  workflow_dispatch:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.x
          check-latest: true
      # TODO: combine WebPlatform tests checkout & patch into the single step
      - name: Run Streams Tests
        run: |
          set -x
          cd internal/js/modules/k6/experimental/streams/tests
          sh checkout.sh
          go test -race ../... -tags=wpt
      - name: Run Webcrypto Tests
        run: |
          set -x
          cd internal/js/modules/k6/webcrypto/tests
          sh checkout.sh
          go test -race ./... -tags=wpt
